* {
    color:white
}

.div-1 {
    display: flex;
    background-color: #131437;
    padding-bottom:30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:20px;
    height:100vh;
}

h1, h2 {
    color: white;
    font-weight: 900;
    text-shadow: 3px 3px #0854eb
}
.container {
    display: flex;
    border: solid rgb(0, 0, 0) 10px;
    width:600px;
    height:600px;
}

.square {
    aspect-ratio: 1 / 1;
    background-color: rgb(240, 237, 235);
    /* border: solid black 1px; */
}

.changed {
    background-color: black;
}

.line {
    flex-grow: 1;
}

.footer {
    background-color: #090a1b;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
    padding: 20px;
}
img {
    height:80px;
    min-height: 100%;
}

button {
    padding: 15px;
    border-radius: 20px;
    background-color: aquamarine;
    color:darkcyan;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}