.container {
    display: flex;
    border: solid red 1px;
}

.square {
    aspect-ratio: 1 / 1;
    padding: 20px;
    background-color: saddlebrown;
    border: solid black 1px;
}

.changed {
    background-color: black;
}